@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/** Navigation Bar **/
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #FCEDDA;
}
.logo{
    color: #EE4E34;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;    
}
.logo a{
    text-decoration: none;
    color: #EE4E34;
    cursor: pointer;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
}
.nav-links a{
    color: #EE4E34;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 14px;
}
.nav-links li{
    list-style: none;
}