@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #fff;
}

/* Navigation Bar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    background-color: #001233;
    padding: 0px 25px;
    position: sticky;
    top: 0;
}
.logo{
    letter-spacing: 2px;
    font-size: 16px;    
}
.logo h2{
    font-size: 18px;
}
.logo a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
.dropdown-toggle{
    text-decoration: none;
    color: #fff;
}
.fa-user, .fa-power-off{
    margin-right: 7px;
}

/* Admin Page */
main{
    display: flex;
    min-height: 94vh;
    width: 100%;
}
aside{
    width: 20%;
    background-color: #001233;   
    overflow-y: auto;
    transition: all 0.3s;
    min-height: 100vh;
    position: fixed;
    top: 8vh;
}
.aside-title{
    margin-top: 15px;
    padding: 0 10px;
    text-align: center;
    font-weight: 900; 
    position: relative;
    margin-bottom: 20px;
}
.aside-title a{
    font-size: 28px;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    color: #fff;
}
.aside-title a::after{
    content: "";
    position: absolute;
    display: block;
    background-color: #fff;
    width: 40px;
    height: 2px;
    left: 45%;
    margin-top: 10px;
}
.fa-house{
    margin-right: 7px;
}
ul{
    padding-left: 0;
    margin-left: 12px;
}
.aside-list{
    list-style:none;
}
.aside-list li{
    padding: 15px 0;
}
.aside-list li:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}
.aside-list li a{
    text-decoration: none;
    color: #fff;
    padding: 15px 0;
}
.aside-list a{
    font-size: 18px;    
}
.fa-people-group, .fa-network-wired,
.fa-chart-simple, .fa-user-group, .fa-landmark
, .fa-sack-dollar, .fa-cash-register,
.fa-file-invoice, .fa-print{
    margin-right: 7px;
}
.admin-dashboard{
    width: 80%;    
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 30px 15px;
    margin-left: 20%;
}
.admin-welcome h2{
    letter-spacing: 1px;
}
.admin-profile img{
    height: 200px;
    border-radius: 50%;
}
.admin-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.admin-info h5{
    margin-bottom: 4px;
}
.admin-info p{
    margin-bottom: 2px;
}

/* Staff Members */
.staff-members{
    margin: 2% 2%;
    width: 80%; 
}
.staff-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    border: 1px solid #ddd;
    background-color: #F7F7F7;
}
.staff-header h2{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 0;
}
.staff-header a{
    text-decoration: none;
    font-size: 16px;
}
.fa-plus{
    margin-right: 7px;
}
table {
    width: 100%;
    border-collapse: collapse;
    border: 0.8px solid #ddd;
    padding-top: 25px;
}
thead{
    border-bottom: 3px solid #ddd;
}
th,
td {
  padding: 5px 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
.actions{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.actions a{
    margin-left: 7px;
}

/* Departments */
.department{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    width: 100%;    
    margin: 0;
}
.department-form{
    width: 50%;    
}
.department-table{
    width: 50%;
    align-items: flex-start;
}
form{
    padding: 0 !important;
}
.department-form h2{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
    width: 100%;
    border: 1px solid #ddd;
    background-color: #F7F7F7;
    display: flex;
    justify-content: center;
}
.t-head{
    border: 1px solid #ddd;
    background-color: #F7F7F7;
}
.department form{
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    padding: 10px;
}
.department form label{
    margin: 5px;   
}
.dpt-name{
    min-width: 350px;
    height: 40px;
    outline: none;

    padding-left: 5px;
}
.d-flex{
    margin-top: 20px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F7F7F7;
    border: 1px solid #ddd;
}
.btn-submit{
	background-color:#44c767;
	border-radius:6px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	padding:6px 24px;
    margin-left: 5px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.btn-submit:hover {
	background-color:#5cbf2a;
}
.btn-submit:active {
	position:relative;
	top:1px;
}
.btn-clear{
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
    margin-right: 5px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.btn-clear:hover{
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}
.btn-clear:active{
	position:relative;
	top:1px;
}
.table-header{
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
}
.btn{
    padding: 0;
}
.btn:nth-child(2){
    padding-left: 2px;
}
.wrapper-dpt{
    background: #fff;
    width: 70%;
    padding: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

/* Allowances */
.allowances{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 2% 2%;
    width: 100%;
}
.allowances-form{
    width: 30%;
    min-width: 400px;
}
form{
    padding: 0 !important;
}
.allowances-form h2{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
    width: 100%;
    border: 1px solid #ddd;
    background-color: #F7F7F7;
    display: flex;
    justify-content: center;
}
.allowances form{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.allowances form label{
    margin: 5px;   
}
.all-name{
    min-width: 350px;
    height: 40px;
    outline: none;
    padding-left: 5px;
}
.all-amt{
    min-width: 350px;
    height: 40px;
    outline: none;
    padding-left: 5px;
}
.allowance-table{
    width: 50%;
}

/* Deductions */
.deductions{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 2% 2%;
    width: 100%;
}
.deduction-form{
    width: 40%;
    min-width: 400px;
}
form{
    padding: 0 !important;
}
.deduction-form h2{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
    width: 100%;
    border: 1px solid #ddd;
    background-color: #F7F7F7;
    display: flex;
    justify-content: center;
}
.deduction form{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.deduction form label{
    margin: 5px;   
}
.dd-name{
    min-width: 350px;
    height: 40px;
    outline: none;
    padding-left: 5px;
}
.deduction-table{
    width: 40%;
}
.d-fx{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F7F7F7;
    border: 1px solid #ddd;
}
.d-table{
    margin-top: 2px;
    margin-bottom: 2px;
}

/* Payroll */
.payroll{
    display: flex;
    margin: 2% 2%;
    width: 100%;
}
.actions-2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.actions-2 a{
    margin-left: 7px;
    text-decoration: none;
}
.wrapper{
    position: relative;
    margin: 20px auto;
    padding: 15px;
    width: 70%;
    transition: 0.5s ease-in-out;
}
.payslip-title{
    border-bottom: 2px solid #ddd;
}
.payslip-title h1{
    font-size: 22px;
    font-weight: 800;
    letter-spacing: 1.2px;
    margin-bottom: 2px;
    padding-bottom: 7px;
}
.employee-details{
    padding: 7px;
    margin-bottom: 10px;
    border-bottom: 2px solid #ddd;
}
.payslip-info{
    border: none !important;
}
.slip-info{
    text-align: right !important;
    border: none;
}
.slip-info-2{
    text-align: left !important;
    border: none;
}
.border{
    width: 0;
    padding: 0;
    border: 1px solid red;
}
.divider{
    border-bottom: 2px solid #ddd;
    margin-top: 10px;
}
.calculations{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 15px 0;
}
.slip-allowance{
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px 0;
    width: 50%;
}
.crd-hdr{
    border-bottom: 1px solid #ddd;
    background-color: #F7F7F7;
}
.crd-hdr h2{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    padding-top: 8px;
}
.list-grp{
    padding: 12px;
    margin-left: 0;
    margin-bottom: 0;    
}
.list-grp-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0 10px;
    margin-bottom: 2px;
    border-radius: 7px;
    border: 1px solid #ddd;
}
.badge{
    font-size: 13px;
    padding: 10px;
}
.slip-deduction{
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px 0;
    width: 50%;
}
.btn-options{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
}
.btn-options a{
    text-decoration: none;
}
.close{
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color:#007dc1;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:14px;
	padding:8px 28px;
    margin-left: 5px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.close:hover {
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color:#0061a7;
}
.close:active {
	position:relative;
	top:1px;
}
.print{
	box-shadow:inset 0px 1px 0px 0px #54f77d;
	background:linear-gradient(to bottom, #10c100 5%, #00a700 100%);
	background-color:#10c100;
	border-radius:3px;
	border:1px solid #10c100;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:14px;
	padding:8px 28px;
	text-decoration:none;
	text-shadow:0px 1px 0px #15821b;
}
.print:hover {
	background:linear-gradient(to bottom, #80db64 5%, #14ce2d 100%);
	background-color:#23df52f5;
}
.print:active {
	position:relative;
	top:1px;
}
/* Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 60px;
    margin-left: 20%;
    padding-top: 15px;
    background-color: #001230;
    color: #fff;
}
footer h2{
    font-size: 16px;
    margin-bottom: 1px;
}
footer p{
    font-size: 14px;
}
