@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #fff;
}
/** Navigation Bar **/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    background-color: #001233;
    padding: 0px 25px;
    position: sticky;
    top: 0;
}
.logo{
    letter-spacing: 2px;
    font-size: 16px;    
}
.logo h2{
    font-size: 18px;
}
.logo a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
.dropdown-toggle{
    text-decoration: none;
    color: #fff;
}
.fa-user, .fa-power-off{
    margin-right: 7px;
}

/* Admin Page */
main{
    display: flex;
    min-height: 94vh;
}
aside{
    width: 20%;
    background-color: #001233;   
    overflow-y: auto;
    transition: all 0.3s;
    min-height: 100vh;
    position: fixed;
    top: 8vh;
}
.aside-title{
    margin-top: 15px;
    padding: 0 10px;
    text-align: center;
    font-weight: 900; 
    position: relative;
    margin-bottom: 20px;
}
.aside-title a{
    font-size: 28px;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    color: #fff;
}
.aside-title a::after{
    content: "";
    position: absolute;
    display: block;
    background-color: #fff;
    width: 40px;
    height: 2px;
    left: 45%;
    margin-top: 10px;
}
.fa-house{
    margin-right: 7px;
}
ul{
    padding-left: 0;
    margin-left: 12px;
}
.aside-list{
    list-style:none;
}
.aside-list li{
    padding: 15px 0;
}
.aside-list li:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}
.aside-list li a{
    text-decoration: none;
    color: #fff;
    padding: 15px 0;
}
.aside-list a{
    font-size: 18px;    
}
.fa-people-group, .fa-network-wired,
.fa-chart-simple, .fa-user-group{
    margin-right: 7px;
}
.admin-dashboard{
    width: 80%;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 30px 15px;
    margin-left: 20%;
}
.admin-welcome h2{
    letter-spacing: 1px;
}
.admin-profile img{
    height: 200px;
    border-radius: 50%;
}
.admin-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.admin-info h5{
    margin-bottom: 4px;
}
.admin-info p{
    margin-bottom: 2px;
}
/* Staff Members */
.staff-members{
    margin: 2% 2%;
    width: 80%; 
}
.staff-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    border: 1px solid #ddd;
    background-color: #F7F7F7;
}
.staff-header h2{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 0;
}
.staff-header a{
    text-decoration: none;
    font-size: 16px;
}
.fa-plus{
    margin-right: 7px;
}
table {
    width: 100%;
    border-collapse: collapse;
    border: 0.8px solid #ddd;
    padding-top: 25px;
}
thead{
    border-bottom: 3px solid #ddd;
}
th,
td {
  padding: 5px 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
.actions{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.actions a{
    margin-left: 7px;
}
/* Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 60px;
    margin-left: 20%;
    padding-top: 15px;
    background-color: #001230;
    color: #fff;
}
footer h2{
    font-size: 16px;
    margin-bottom: 1px;
}
footer p{
    font-size: 14px;
}
